<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="posts-panel">

            <header class="panel-header">
                <a href="{{ path('admin_app_article_create') }}" style="margin-top: 12px;" type="button" class="button small float-right">Create</a>
                <h1 class="panel-title">
                    {% block pageTitle %}
                    Posts (List)
                    {% endblock %}
                </h1>
            </header>

            <div class="panel-content">

                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('js/vendor/foundation.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
