{% extends 'base.html.twig' %}

{% block body %}
    <section class="posts-list">
        {% for article in items %}
        <div class="post-item">
            <div class="post-text">
                <a href="#">
                    <h3 class="post-title">{{ article.title }}</h3>
                </a>
                <div class="post-meta">
                    <span class="meta"><span class="meta-icon fa fa-clock-o" aria-hidden="true"></span><span class="meta-text">{{ article.publicationStartDate | date('H:m d-m-Y') }}</span></span>
                </div>
                <div class="post-summary">
                    {{ article.content | raw }}
                    {% for tag in article.tags %}
                    <a href="#" class="label">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}