{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.published) }}
    {{ form_row(form.publication_start_date) }}
    {{ form_row(form.tags) }}
    {{ form_end(form) }}
{% endblock %}